.abs-pricing-2 {
  padding: 0 0 2.86rem 0; }
  .abs-pricing-2 .abs-pricing-2_head {
    text-align: center;
    background-color: #22B9FF;
    padding: 8.57rem 0 25rem 0; }
    .abs-pricing-2 .abs-pricing-2_head .abs-pricing-2_title {
      text-align: center;
      margin-top: -3.57rem; }
    .abs-pricing-2 .abs-pricing-2_head .btn-group {
      text-align: center;
      display: inline-block;
      margin: 2.5rem auto 0 auto; }
      .abs-pricing-2 .abs-pricing-2_head .btn-group .btn {
        margin-right: -0.21rem;
        padding: 1rem 1.93rem 1rem 1.93rem;
        background: #fff;
        color: #74788d; }
        .abs-pricing-2 .abs-pricing-2_head .btn-group .btn.active {
          background: #22b9ff;
          color: #ffffff; }
  .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container {
    margin: 0 auto;
    max-width: 75%;
    margin-top: -21.64rem; }
    .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items {
      background-color: #fff;
      position: relative;
      text-align: center;
      padding: 2.14rem 0.71rem 2.14rem 0.71rem; }
      .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item {
        border-right: 1px solid #e1f1ff;
        width: 100%; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item:last-child {
          border-right: none; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_visual {
          position: relative;
          margin-top: 6.8rem;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }
          .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_visual .abs-pricing-2_hexagon {
            height: 0;
            background: #F4FCFF;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            position: absolute; }
            .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_visual .abs-pricing-2_hexagon:before {
              content: "";
              position: absolute;
              top: -2.14rem;
              width: 13.2rem;
              height: 0;
              border-left: 3.35rem solid transparent;
              border-right: 3.35rem solid transparent;
              border-bottom: 5.71rem solid #F4FCFF;
              left: 50%;
              -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
            .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_visual .abs-pricing-2_hexagon:after {
              content: "";
              position: absolute;
              top: 3.57rem;
              width: 13.21rem;
              height: 0;
              border-left: 3.35rem solid transparent;
              border-right: 3.35rem solid transparent;
              border-top: 5.71rem solid #F4FCFF;
              left: 50%;
              -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
          .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_visual .abs-pricing-2_icon {
            margin-top: 0.8rem;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            position: absolute; }
            .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_visual .abs-pricing-2_icon > i {
              font-size: 6.43rem; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_subtitle {
          margin-top: 17.1rem;
          font-size: 1.64rem;
          color: #595d6e; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_features {
          margin: 2.14rem 0 1.8rem;
          line-height: 2.2; }
          .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_features > span {
            display: block;
            color: #74788d;
            font-weight: 500; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_price {
          font-size: 3.21rem;
          font-weight: 600;
          color: #595d6e; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_label {
          margin: 0.64rem 0 0 0.35rem;
          font-size: 25px;
          position: absolute;
          color: #74788d; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_btn {
          margin: 2.14rem auto 2.14rem auto; }
          .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_btn > .btn {
            padding: 0.86rem 3.6rem 0.86rem 3.6rem;
            font-size: 0.86rem; }

@media (min-width: 1025px) and (max-width: 1399px) {
  .abs-pricing-2 .abs-pricing-2_content {
    padding: 0 2.14rem 0 2.14rem; }
    .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container {
      max-width: 90%; }
      .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item {
        border-right: 1px solid #e1f1ff;
        padding-left: 0.71rem;
        padding-right: 0.71rem; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item:last-child {
          border-right: none; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_btn {
          margin: 1.43rem auto 3.6rem auto; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .abs-pricing-2 .abs-pricing-2_content {
    padding: 0 2.14rem 0 2.14rem; }
    .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container {
      max-width: 90%; }
      .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item {
        border-bottom: 1px solid #e1f1ff;
        border-right: none;
        padding-left: 0.71rem;
        padding-right: 0.71rem;
        margin-bottom: 2rem; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item:last-child {
          border-bottom: none;
          margin-bottom: 0; }
        .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_btn {
          margin: 1.43rem auto 3.6rem auto; } }

@media (max-width: 768px) {
  .abs-pricing-2 .abs-pricing-2_head .abs-pricing-2_title {
    top: 4%; }
    .abs-pricing-2 .abs-pricing-2_head .abs-pricing-2_title > h1 {
      font-size: 1.8rem; }
  .abs-pricing-2 .abs-pricing-2_head .btn-group {
    top: 8%; }
    .abs-pricing-2 .abs-pricing-2_head .btn-group .btn {
      padding: 0.71rem 0.71rem 0.71rem 0.71rem; }
  .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container {
    width: 100%; }
    .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item {
      border-bottom: 1px solid #e1f1ff;
      border-right: none;
      padding-left: 0.71rem;
      padding-right: 0.71rem;
      margin-bottom: 2rem; }
      .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item:last-child {
        border-bottom: none;
        margin-bottom: 0; }
      .abs-pricing-2 .abs-pricing-2_content .abs-pricing-2_container .abs-pricing-2_items .abs-pricing-2_item .abs-pricing-2_btn {
        margin: 1.43rem auto 3.6rem auto; } }
