@{Name = "Header";}

<script>
	document.addEventListener("touchstart", function () { }, false);
	$(function () {
		$('#material-navtoggle').click(function () {
			$('.material-menucontainer').toggleClass('material-offcanvasopener');
		});

		$('.overlapblackbg').click(function () {
			$('.material-menucontainer').removeClass('material-offcanvasopener');
		});
	});
</script>

<style>
	@@media (max-width: 600px) {
		.material-menucontainer {
			margin-bottom: 0px;
		}
	}
</style>

<div class="material-menucontainer clearfix" style="padding-bottom:85px;">
	<div class="overlapblackbg"></div>
	<div class="material-mobileheader clearfix">
		<a id="material-navtoggle" class="animated-arrow">
			<span></span>
		</a>
		<a class="smallogo">
			<img src="@Portal.Options.Branding.HeaderLogo.DefaltLogoURL" onerror="this.src='/Portal/images/logo.svg'"
				style="max-height:30px; margin-top:3px" alt="">
		</a>
		<a class="callusicon" href="/Account/Index">
			<span class="fa fa-user"></span>
		</a>
	</div>
	<div class="material-header">
		<div class="wrapper clearfix bigmegamenu">
			<div class="logo clearfix" style="display: inline-flex;">
				<a href="/" title="Logo">
					<img src="@Portal.Options.Branding.HeaderLogo.DefaltLogoURL"
						style="max-height:35px; margin-left:5%; margin-top:8px" alt="">
				</a>
			</div>
			<!--Main Menu HTML Code-->
			@await ViewService.InvokeAsync("MainMenu")
			<!--Menu HTML Code-->
		</div>
	</div>
</div>