<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto text-center">
                <h2 class="title" style="font-family: 'Secular One', sans-serif;">
                    @_("This page is under construction")
                </h2>
            </div>

            <div class="col-md-6 m-auto text-center">
                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_y9czxcb9.json"
                    background="transparent" speed="1" style="width: 90%;" loop autoplay></lottie-player>
            </div>

        </div>
    </div>
</div>
<script src="https://unpkg.com/@@lottiefiles/lottie-player@@latest/dist/lottie-player.js"></script>