<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="server" />
        <remove name="X-Powered-By" />
        <remove name="X-Powered-By-plesk" />
        <add name="X-Powered-By" value="Alliance Business Suite" />
      </customHeaders>
    </httpProtocol>
    <aspNetCore processPath="dotnet" arguments=".\FenixAlliance.ABS.Studio.dll" stdoutLogEnabled="false" hostingModel="inprocess" stdoutLogFile=".\logs\stdout">
      <environmentVariables></environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: F6B33E7C-E2AB-4AF0-8695-81E451C58898-->