
<!-- begin:: Footer -->
<div class="abs-footer  abs-grid_item abs-grid abs-grid--desktop abs-grid--ver-desktop" id="abs_footer">
	<div class="abs-container  abs-container--fluid ">
		<div class="abs-footer_copyright">
			2020&nbsp;&copy;&nbsp;<a href="http://fenix-alliance.com/absget="_blank" class="abs-link">Fenix Alliance Inc.</a>
		</div>
		<div class="abs-footer_menu">
			<a href="http://fenix-alliance.com/absget="_blank" class="abs-footer_menu-link abs-link">About</a>
			<a href="http://fenix-alliance.com/absget="_blank" class="abs-footer_menu-link abs-link">Team</a>
			<a href="http://fenix-alliance.com/absget="_blank" class="abs-footer_menu-link abs-link">Contact</a>
		</div>
	</div>
</div>

<!-- end:: Footer -->