
<!-- begin:: Header Topbar -->
<div class="abs-header_topbar">

	<!--begin: Search -->
	<div class="abs-header_topbar-item abs-header_topbar-item--search">
		<div class="abs-header_topbar-wrapper">

			<!--[html-partial:include:{"file":"partials/_topbar/dropdown/search-inline.html"}]/-->
		</div>
	</div>

	<!--end: Search -->

	<!--begin: Notifications -->
	<div class="abs-header_topbar-item dropdown">
		<div class="abs-header_topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
			<span class="abs-header_topbar-icon abs-header_topbar-icon--success"><i class="flaticon2-bell-alarm-symbol"></i></span>
			<span class="abs-hidden abs-badge abs-badge--danger"></span>
		</div>
		<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
			<form>

				<!--[html-partial:include:{"file":"partials/_topbar/dropdown/notifications.html"}]/-->
			</form>
		</div>
	</div>

	<!--end: Notifications -->

	<!--begin: Quick actions -->
	<div class="abs-header_topbar-item dropdown">
		<div class="abs-header_topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
			<span class="abs-header_topbar-icon abs-header_topbar-icon--warning"><i class="flaticon2-gear"></i></span>
		</div>
		<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
			<form>

				<!--[html-partial:include:{"file":"partials/_topbar/dropdown/quick-actions.html"}]/-->
			</form>
		</div>
	</div>

	<!--end: Quick actions -->

	<!--begin: Cart -->
	<div class="abs-header_topbar-item dropdown">
		<div class="abs-header_topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
			<span class="abs-header_topbar-icon abs-header_topbar-icon--brand"><i class="flaticon2-shopping-cart-1"></i></span>
		</div>
		<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
			<form>

				<!--[html-partial:include:{"file":"partials/_topbar/dropdown/my-cart.html"}]/-->
			</form>
		</div>
	</div>

	<!--end: Cart-->

	<!--begin: Language bar -->
	<div class="abs-header_topbar-item abs-header_topbar-item--langs">
		<div class="abs-header_topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
			<span class="abs-header_topbar-icon abs-header_topbar-icon--brand">
				<img class="" src="assets/media/flags/260-united-kingdom.svg" alt="" />
			</span>
		</div>
		<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">

			<!--[html-partial:include:{"file":"partials/_topbar/dropdown/languages.html"}]/-->
		</div>
	</div>

	<!--end: Language bar -->

	<!--begin: User bar -->
	<div class="abs-header_topbar-item abs-header_topbar-item--user">
		<div class="abs-header_topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
			<span class="abs-hidden abs-header_topbar-welcome">Hi,</span>
			<span class="abs-hidden abs-header_topbar-username">Nick</span>
			<img class="abs-hidden" alt="Pic" src="assets/media/users/300_21.jpg" />
			<span class="abs-header_topbar-icon"><i class="flaticon2-user-outline-symbol"></i></span>
		</div>
		<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

			<!--[html-partial:include:{"file":"partials/_topbar/dropdown/user.html"}]/-->
		</div>
	</div>

	<!--end: User bar -->

	<!--begin: Quick panel toggler -->
	<div class="abs-header_topbar-item abs-header_topbar-item--quickpanel" data-toggle="abs-tooltip" title="Quick panel" data-placement="top">
		<div class="abs-header_topbar-wrapper">
			<span class="abs-header_topbar-icon" id="abs_quick_panel_toggler_btn"><i class="flaticon2-cube-1"></i></span>
		</div>
	</div>

	<!--end: Quick panel toggler -->
</div>

<!-- end:: Header Topbar -->