
<!-- begin:: Header Mobile -->
<div id="abs_header_mobile" class="abs-header-mobile  abs-header-mobile--fixed ">
	<div class="abs-header-mobile_logo">
		<a href="index.html">
			<img alt="Logo" src="assets/media/logos/logo-6.png" style="max-width:100%" />
		</a>
	</div>
	<div class="abs-header-mobile_toolbar">
		<button class="abs-header-mobile_toolbar-toggler abs-header-mobile_toolbar-toggler--left" id="abs_aside_mobile_toggler"><span></span></button>
		<button class="abs-header-mobile_toolbar-toggler" id="abs_header_mobile_toggler"><span></span></button>
		<button class="abs-header-mobile_toolbar-topbar-toggler" id="abs_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
	</div>
</div>

<!-- end:: Header Mobile -->