
<!-- begin:: Aside Menu -->
<div class="abs-aside-menu-wrapper abs-grid_item abs-grid_item--fluid" id="abs_aside_menu_wrapper">
	<div id="abs_aside_menu" class="abs-aside-menu  abs-aside-menu--dropdown " data-ktmenu-vertical="1" data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
		<ul class="abs-menu_nav ">
			<li class="abs-menu_item  abs-menu_item--submenu abs-menu_item--submenu-fullheight abs-menu_item--open abs-menu_item--here" aria-haspopup="true" data-ktmenu-submenu-toggle="click" data-ktmenu-dropdown-toggle-class="abs-aside-menu-overlay--on"><a href="javascript:;" class="abs-menu_link abs-menu_toggle"><i class="abs-menu_link-icon flaticon2-protection"></i><span class="abs-menu_link-text">Applications</span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
				<div class="abs-menu_submenu "><span class="abs-menu_arrow"></span>
					<div class="abs-menu_wrapper">
						<ul class="abs-menu_subnav">
							<li class="abs-menu_item  abs-menu_item--parent abs-menu_item--submenu-fullheight" aria-haspopup="true"><span class="abs-menu_link"><span class="abs-menu_link-text">Applications</span></span></li>
							<li class="abs-menu_item  abs-menu_item--submenu abs-menu_item--open abs-menu_item--here" aria-haspopup="true" data-ktmenu-submenu-toggle="click" data-ktmenu-submenu-mode="accordion"><a href="javascript:;" class="abs-menu_link abs-menu_toggle"><span class="abs-menu_link-text">Resources</span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
								<div class="abs-menu_submenu "><span class="abs-menu_arrow"></span>
									<ul class="abs-menu_subnav">
										<li class="abs-menu_item  abs-menu_item--active" aria-haspopup="true"><a href="index.html" class="abs-menu_link "><span class="abs-menu_link-text">Timesheet</span></a></li>
										<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Payroll</span></a></li>
										<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Contacts</span></a></li>
										<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Members</span></a></li>
										<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Clients</span></a></li>
									</ul>
								</div>
							</li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Finance</span></a></li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Support</span></a></li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Administration</span></a></li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Management</span></a></li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Order Management</span></a></li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Delivery</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--brand">2</span></span></a></li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Products</span></a></li>
							<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><span class="abs-menu_link-text">Support</span></a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="abs-menu_item  abs-menu_item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="click"><a href="javascript:;" class="abs-menu_link abs-menu_toggle"><i class="abs-menu_link-icon flaticon2-calendar-5"></i><span class="abs-menu_link-text">Add</span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
				<div class="abs-menu_submenu "><span class="abs-menu_arrow"></span>
					<ul class="abs-menu_subnav">
						<li class="abs-menu_item  abs-menu_item--parent" aria-haspopup="true"><span class="abs-menu_link"><span class="abs-menu_link-text">Add</span></span></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon la la-commenting"></i><span class="abs-menu_link-text">Post</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon la la-user"></i><span class="abs-menu_link-text">Member</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon la la-cart-arrow-down"></i><span class="abs-menu_link-text">Order</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon la la-coffee"></i><span class="abs-menu_link-text">Entry</span></a></li>
					</ul>
				</div>
			</li>
			<li class="abs-menu_item  abs-menu_item--submenu abs-menu_item--bottom" aria-haspopup="true" data-ktmenu-submenu-toggle="click" data-ktmenu-link-redirect="1"><a target="_blank" href="javascript:;" class="abs-menu_link abs-menu_toggle"><i class="abs-menu_link-icon flaticon2-analytics-2"></i><span class="abs-menu_link-text">Customers</span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
				<div class="abs-menu_submenu "><span class="abs-menu_arrow"></span>
					<ul class="abs-menu_subnav">
						<li class="abs-menu_item  abs-menu_item--parent abs-menu_item--bottom" aria-haspopup="true" data-ktmenu-link-redirect="1"><span class="abs-menu_link"><span class="abs-menu_link-text">Customers</span></span></li>
						<li class="abs-menu_item " aria-haspopup="true" data-ktmenu-link-redirect="1"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Reports</span></a></li>
						<li class="abs-menu_item  abs-menu_item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;" class="abs-menu_link abs-menu_toggle"><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Cases</span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
							<div class="abs-menu_submenu "><span class="abs-menu_arrow"></span>
								<ul class="abs-menu_subnav">
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-computer"></i><span class="abs-menu_link-text">Pending</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--warning">10</span></span></a></li>
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-signs-2"></i><span class="abs-menu_link-text">Urgent</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--danger">6</span></span></a></li>
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-clipboard"></i><span class="abs-menu_link-text">Done</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--success">2</span></span></a></li>
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-multimedia-2"></i><span class="abs-menu_link-text">Archive</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--info abs-badge--inline">245</span></span></a></li>
								</ul>
							</div>
						</li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Clients</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Audit</span></a></li>
					</ul>
				</div>
			</li>
			<li class="abs-menu_item  abs-menu_item--submenu abs-menu_item--bottom-2" aria-haspopup="true" data-ktmenu-submenu-toggle="click"><a href="javascript:;" class="abs-menu_link abs-menu_toggle"><i class="abs-menu_link-icon flaticon2-gear"></i><span class="abs-menu_link-text">Settings</span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
				<div class="abs-menu_submenu abs-menu_submenu--up"><span class="abs-menu_arrow"></span>
					<ul class="abs-menu_subnav">
						<li class="abs-menu_item  abs-menu_item--parent abs-menu_item--bottom-2" aria-haspopup="true"><span class="abs-menu_link"><span class="abs-menu_link-text">Settings</span></span></li>
						<li class="abs-menu_item  abs-menu_item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="#" class="abs-menu_link abs-menu_toggle"><i class="abs-menu_link-bullet abs-menu_link-bullet--line"><span></span></i><span class="abs-menu_link-text">Profile</span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
							<div class="abs-menu_submenu "><span class="abs-menu_arrow"></span>
								<ul class="abs-menu_subnav">
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-computer"></i><span class="abs-menu_link-text">Pending</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--brand">7</span></span></a></li>
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-signs-2"></i><span class="abs-menu_link-text">Urgent</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--danger">6</span></span></a></li>
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-clipboard"></i><span class="abs-menu_link-text">Done</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--success">2</span></span></a></li>
									<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-icon flaticon-multimedia-2"></i><span class="abs-menu_link-text">Archive</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--info abs-badge--inline">245</span></span></a></li>
								</ul>
							</div>
						</li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--line"><span></span></i><span class="abs-menu_link-text">Accounts</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--line"><span></span></i><span class="abs-menu_link-text">Help</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--line"><span></span></i><span class="abs-menu_link-text">Notifications</span></a></li>
					</ul>
				</div>
			</li>
			<li class="abs-menu_item  abs-menu_item--submenu abs-menu_item--bottom-1" aria-haspopup="true" data-ktmenu-submenu-toggle="click"><a href="javascript:;" class="abs-menu_link abs-menu_toggle"><i class="abs-menu_link-icon flaticon2-hourglass-1"></i><span class="abs-menu_link-text">Help</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--brand abs-badge--rounded">2</span></span><i class="abs-menu_ver-arrow la la-angle-right"></i></a>
				<div class="abs-menu_submenu abs-menu_submenu--up"><span class="abs-menu_arrow"></span>
					<ul class="abs-menu_subnav">
						<li class="abs-menu_item  abs-menu_item--parent abs-menu_item--bottom-1" aria-haspopup="true"><span class="abs-menu_link"><span class="abs-menu_link-text">Help</span><span class="abs-menu_link-badge"><span class="abs-badge abs-badge--brand abs-badge--rounded">2</span></span></span></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Support</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Blog</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Documentation</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Pricing</span></a></li>
						<li class="abs-menu_item " aria-haspopup="true"><a href="#" class="abs-menu_link "><i class="abs-menu_link-bullet abs-menu_link-bullet--dot"><span></span></i><span class="abs-menu_link-text">Terms</span></a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- end:: Aside Menu -->