.rz-datatable-data td .rz-cell-data {
    color: #48606c;
    font-size: 1.5rem;
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rz-dropdown-item {
    font-size: 1.2rem !important;
}

.rz-dropdown-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-right: 1.1875rem;
    line-height: 3.5rem;
    font-size: 1.2rem !important;
}

.rz-dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 3.5rem;
}

.rz-fileupload {
    display: block !important;
    height: auto;
}