.abs-todo .abs-todo_content {
    width: 100%;
}

.abs-todo .abs-todo_aside {
    padding: 20px;
    width: 275px;
}

@media (min-width: 1025px) {
    .abs-todo .abs-todo_aside {
        margin-right: 25px;
    }
}

.abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item {
    margin-bottom: 0.5rem;
}

    .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link-title {
        padding-left: 1.9rem;
        font-weight: 600;
        color: #48465b;
        font-size: 1.1rem;
        padding-left: 1.9rem;
        font-weight: 600;
        color: #48465b;
        font-size: 1.1rem;
    }

    .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link {
        padding: 0.6rem 20px;
        border-radius: 4px;
    }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link i {
            color: #8e96b8;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
            fill: #8e96b8;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link .abs-nav_link-icon {
            text-align: center;
            margin: 0 0.7rem 0 -0.23rem;
        }

            .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link .abs-nav_link-icon.abs-nav_link-icon--size {
                font-size: 0.9rem;
                color: #93a2dd;
            }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link svg {
            width: 20px;
            height: 20px;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link g [fill] {
            fill: #93a2dd;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link .abs-nav_link-text {
            font-weight: 500;
            color: #595d6e;
        }

    .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item:last-child {
        margin-bottom: 0;
    }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item:last-child .abs-nav_link .abs-nav_link-icon {
            font-size: 0.9rem;
        }

    .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.hover .abs-nav_link, .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--selected .abs-nav_link, .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--active .abs-nav_link {
        background-color: #f7f8fa;
        border-radius: 4px;
    }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.hover .abs-nav_link i, .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--selected .abs-nav_link i, .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--active .abs-nav_link i {
            color: #22b9ff;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.hover .abs-nav_link g [fill], .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--selected .abs-nav_link g [fill], .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--active .abs-nav_link g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
            fill: #22b9ff;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.hover .abs-nav_link:hover g [fill], .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--selected .abs-nav_link:hover g [fill], .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--active .abs-nav_link:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
        }

        .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.hover .abs-nav_link .abs-nav_link-text, .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--selected .abs-nav_link .abs-nav_link-text, .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item.abs-nav_item--active .abs-nav_link .abs-nav_link-text {
            color: #22b9ff;
        }

.abs-todo .abs-todo_header {
    padding: 13px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

    .abs-todo .abs-todo_header .abs-todo_title {
        margin: 0;
        font-size: 1.4rem;
        padding-right: 2rem;
        font-weight: 600;
        color: #595d6e;
    }

    .abs-todo .abs-todo_header .abs-todo_nav {
        padding: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-top: 0.2rem;
    }

        .abs-todo .abs-todo_header .abs-todo_nav .btn {
            margin-right: 1rem;
        }

        .abs-todo .abs-todo_header .abs-todo_nav .abs-todo_link {
            padding: 0.5rem 1.2rem;
            font-weight: 500;
            color: #74788d;
            border-radius: 4px;
        }

            .abs-todo .abs-todo_header .abs-todo_nav .abs-todo_link:not(:first-child):not(:last-child) {
                margin: 0 0.2rem;
            }

            .abs-todo .abs-todo_header .abs-todo_nav .abs-todo_link:hover, .abs-todo .abs-todo_header .abs-todo_nav .abs-todo_link.abs-todo_link--selected, .abs-todo .abs-todo_header .abs-todo_nav .abs-todo_link.abs-todo_link--active {
                background-color: #f7f8fa;
                color: #22b9ff;
                border-radius: 4px;
            }

    .abs-todo .abs-todo_header .abs-todo_users {
        line-height: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .abs-todo .abs-todo_header .abs-todo_users .abs-media {
            position: relative;
            z-index: 0;
        }

            .abs-todo .abs-todo_header .abs-todo_users .abs-media:not(:first-child):not(:last-child) {
                margin-left: -0.1rem;
            }

@media (max-width: 1024px) {
    .abs-todo .abs-todo_header {
        padding: 10px 15px;
    }
}

.abs-todo .abs-todo_icon {
    border: 0;
    background: none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #f7f8fa;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0;
    border-radius: 0;
    border-radius: 4px;
}

    .abs-todo .abs-todo_icon i {
        font-size: 1.1rem;
    }

    .abs-todo .abs-todo_icon.abs-todo_icon--sm {
        height: 26px;
        width: 26px;
    }

        .abs-todo .abs-todo_icon.abs-todo_icon--sm i {
            font-size: 0.8rem;
        }

    .abs-todo .abs-todo_icon.abs-todo_icon--md {
        height: 30px;
        width: 30px;
    }

        .abs-todo .abs-todo_icon.abs-todo_icon--md i {
            font-size: 1rem;
        }

    .abs-todo .abs-todo_icon.abs-todo_icon--light {
        background-color: transparent;
    }

    .abs-todo .abs-todo_icon i {
        color: #8e96b8;
    }

    .abs-todo .abs-todo_icon g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #8e96b8;
    }

    .abs-todo .abs-todo_icon:hover g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
    }

    .abs-todo .abs-todo_icon.abs-todo_icon--active, .abs-todo .abs-todo_icon:hover {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: #ebedf2;
    }

        .abs-todo .abs-todo_icon.abs-todo_icon--active.abs-todo_icon--light, .abs-todo .abs-todo_icon:hover.abs-todo_icon--light {
            background-color: transparent;
        }

        .abs-todo .abs-todo_icon.abs-todo_icon--active i, .abs-todo .abs-todo_icon:hover i {
            color: #22b9ff;
        }

        .abs-todo .abs-todo_icon.abs-todo_icon--active g [fill], .abs-todo .abs-todo_icon:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
            fill: #22b9ff;
        }

        .abs-todo .abs-todo_icon.abs-todo_icon--active:hover g [fill], .abs-todo .abs-todo_icon:hover:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
        }

    .abs-todo .abs-todo_icon.abs-todo_icon--back {
        background-color: transparent;
    }

        .abs-todo .abs-todo_icon.abs-todo_icon--back i {
            color: #8e96b8;
            font-size: 1.5rem;
        }

        .abs-todo .abs-todo_icon.abs-todo_icon--back g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
            fill: #8e96b8;
        }

        .abs-todo .abs-todo_icon.abs-todo_icon--back:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
        }

        .abs-todo .abs-todo_icon.abs-todo_icon--back svg {
            height: 32px;
            width: 32px;
        }

        .abs-todo .abs-todo_icon.abs-todo_icon--back:hover {
            background-color: transparent;
        }

            .abs-todo .abs-todo_icon.abs-todo_icon--back:hover i {
                color: #22b9ff;
            }

            .abs-todo .abs-todo_icon.abs-todo_icon--back:hover g [fill] {
                -webkit-transition: fill 0.3s ease;
                transition: fill 0.3s ease;
                fill: #22b9ff;
            }

            .abs-todo .abs-todo_icon.abs-todo_icon--back:hover:hover g [fill] {
                -webkit-transition: fill 0.3s ease;
                transition: fill 0.3s ease;
            }

.abs-todo .abs-todo_list {
    display: none;
    padding: 0;
}

    .abs-todo .abs-todo_list .abs-todo_toolbar {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 17px 0;
    }

        .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-right: 1rem;
        }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions .abs-todo_check {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions .abs-todo_check .abs-checkbox {
                    margin: 0;
                    padding-left: 0;
                }

                .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions .abs-todo_check .abs-todo_icon {
                    margin-left: 0;
                }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions .abs-todo_panel {
                display: none;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions .btn {
                padding: 0.6rem 1rem;
            }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions.abs-todo_actions--expanded .abs-todo_panel {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions .abs-todo_icon {
                margin-right: 0.5rem;
            }

                .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_actions .abs-todo_icon.abs-todo_icon--back {
                    margin-right: 2.5rem;
                }

        .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_controls {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 0.4rem 0;
        }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_controls .abs-todo_icon {
                margin-left: 0.5rem;
            }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_controls .abs-todo_sort {
                margin-left: 0.5rem;
            }

            .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_controls .abs-todo_pages .abs-todo_perpage {
                color: #74788d;
                font-size: 1rem;
                font-weight: 500;
                margin-right: 1rem;
                cursor: pointer;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                padding: 0.5rem 0;
            }

                .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_controls .abs-todo_pages .abs-todo_perpage:hover {
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    color: #22b9ff;
                }

        .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_sep {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 1rem;
            width: 1rem;
        }

@media (max-width: 1450px) {
    .abs-todo .abs-todo_list .abs-todo_toolbar {
        position: static;
        padding: 15px 0;
    }

        .abs-todo .abs-todo_list .abs-todo_toolbar .abs-todo_controls {
            margin-bottom: 10px;
        }

        .abs-todo .abs-todo_list .abs-todo_toolbar.abs-todo_toolbar--extended .abs-todo_actions {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
            margin-bottom: 10px;
            -webkit-box-pack: flex-first;
            -ms-flex-pack: flex-first;
            justify-content: flex-first;
        }

        .abs-todo .abs-todo_list .abs-todo_toolbar.abs-todo_toolbar--extended .abs-todo_controls {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
            margin-bottom: 3px;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }
}

.abs-todo .abs-todo_list.abs-todo_list--shown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items {
    padding: 0;
}

    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 12px 25px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
    }

        .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info {
        padding: 8px 0;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info {
        min-width: 210px;
    }
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.3rem 10px 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_actions {
        min-width: 70px;
    }
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_actions .abs-checkbox {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_actions .abs-todo_icon {
    height: 22px;
    width: 22px;
}

    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_actions .abs-todo_icon i {
        font-size: 1rem;
        color: #ebedf2;
    }

    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_actions .abs-todo_icon:hover i {
        color: rgba(255, 184, 34, 0.5) !important;
    }

    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_actions .abs-todo_icon.abs-todo_icon--on i {
        color: #ffb822 !important;
    }

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px;
    width: 175px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender {
        min-width: 175px;
    }
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender .abs-media {
    margin-right: 10px;
    min-width: 30px !important;
}

    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender .abs-media span {
        min-width: 30px !important;
    }

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender .abs-todo_author {
    font-size: 1rem;
    color: #595d6e;
    font-weight: 500;
}

@media (max-width: 1400px) {
    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender {
        display: block;
        width: 70px;
        margin-right: 10px;
    }

        .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender .abs-todo_author {
            display: block;
        }

        .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_info .abs-todo_sender .abs-media {
            margin-bottom: 5px;
        }
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_details {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_details {
        width: 0;
        height: 0;
    }
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_details .abs-todo_message .abs-todo_subject {
    font-size: 1rem;
    color: #595d6e;
    font-weight: 600;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_details .abs-todo_message .abs-todo_summary {
    font-size: 1rem;
    color: #a2a5b9;
    font-weight: 400;
    text-overflow: ellipsis;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_details .abs-todo_labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_details .abs-todo_labels .abs-todo_label {
        margin-right: 5px;
    }

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_datetime {
    font-size: 1rem;
    color: #a2a5b9;
    font-weight: 400;
    margin-right: 1rem;
    margin-top: 5px;
    width: 85px;
    text-align: right;
}

@media (max-width: 1400px) {
    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item .abs-todo_datetime {
        width: 70px;
    }
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item:hover, .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item.abs-todo_item--selected {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #f2f3f7;
}

    .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item:hover .abs-todo_info .abs-todo_actions .abs-todo_icon i, .abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item.abs-todo_item--selected .abs-todo_info .abs-todo_actions .abs-todo_icon i {
        font-size: 1rem;
        color: #e2e5ec;
    }

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item.abs-todo_item--unread .abs-todo_sender .abs-todo_author {
    color: #48465b;
    font-weight: 600;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item.abs-todo_item--unread .abs-todo_details .abs-todo_message .abs-todo_subject {
    color: #595d6e;
    font-weight: 600;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items .abs-todo_item.abs-todo_item--unread .abs-todo_datetime {
    color: #48465b;
    font-weight: 600;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items[data-type="inbox"] .abs-todo_item[data-type="inbox"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items[data-type="marked"] .abs-todo_item[data-type="marked"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items[data-type="draft"] .abs-todo_item[data-type="draft"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items[data-type="sent"] .abs-todo_item[data-type="sent"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.abs-todo .abs-todo_list .abs-todo_body .abs-todo_items[data-type="trash"] .abs-todo_item[data-type="trash"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.abs-todo .abs-todo_list .abs-todo_foot {
    padding: 0 25px;
}

    .abs-todo .abs-todo_list .abs-todo_foot .abs-todo_toolbar {
        float: right;
    }

.abs-todo .abs-todo_view {
    padding: 0;
}

    .abs-todo .abs-todo_view .abs-todo_head {
        padding: 15px 0 0 0;
        width: 100%;
    }

        .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar {
            cursor: pointer;
            padding: 0;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }

                .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_info .abs-media {
                    margin-right: 0.7rem;
                }

                .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_info .abs-todo_name {
                    color: #48465b;
                    font-weight: 600;
                    font-size: 1.1rem;
                    padding-right: 0.5rem;
                }

                    .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_info .abs-todo_name:hover {
                        color: #22b9ff;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

            .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_details {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 0.5rem 0;
            }

                .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_details .abs-todo_icon {
                    margin-right: 0.5rem;
                    font-size: 0.7rem;
                    color: #22b9ff;
                }

                .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_details .abs-todo_desc {
                    color: #74788d;
                    font-weight: 400;
                    font-size: 1rem;
                }

                .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_details .btn {
                    padding: 0.6rem 1rem;
                }

                    .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_details .btn:last-child {
                        margin-left: 0.5rem;
                    }

            .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_actions {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                .abs-todo .abs-todo_view .abs-todo_head .abs-todo_toolbar .abs-todo_actions .abs-todo_datetime {
                    color: #a2a5b9;
                    font-weight: 500;
                    font-size: 1rem;
                    margin-right: 1.5rem;
                }

    .abs-todo .abs-todo_view.abs-todo_view--shown {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .abs-todo .abs-todo_view .abs-todo_body .abs-todo_title {
        color: #48465b;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1rem;
        display: block;
    }

        .abs-todo .abs-todo_view .abs-todo_body .abs-todo_title:hover {
            color: #22b9ff;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

    .abs-todo .abs-todo_view .abs-todo_body .abs-todo_actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.8rem 0 2rem 0;
    }

        .abs-todo .abs-todo_view .abs-todo_body .abs-todo_actions .abs-todo_section {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .abs-todo .abs-todo_view .abs-todo_body .abs-todo_actions .abs-todo_section .abs-todo_cricle {
                padding-right: 0.5rem;
                font-size: 1.1rem;
            }

            .abs-todo .abs-todo_view .abs-todo_body .abs-todo_actions .abs-todo_section .abs-todo_text {
                color: #a2a5b9;
                font-weight: 500;
            }

            .abs-todo .abs-todo_view .abs-todo_body .abs-todo_actions .abs-todo_section:last-child {
                padding-left: 1.5rem;
            }

    .abs-todo .abs-todo_view .abs-todo_body .abs-todo_desc {
        padding-bottom: 1.5rem;
        display: block;
        color: #a2a5b9;
        font-weight: 500;
    }

    .abs-todo .abs-todo_view .abs-todo_body .abs-todo_leble {
        display: block;
        padding-top: 0.7rem;
    }

        .abs-todo .abs-todo_view .abs-todo_body .abs-todo_leble i {
            padding-right: 0.5rem;
        }

        .abs-todo .abs-todo_view .abs-todo_body .abs-todo_leble a {
            color: #74788d;
            font-weight: 500;
        }

            .abs-todo .abs-todo_view .abs-todo_body .abs-todo_leble a:hover {
                color: #22b9ff;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

    .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item {
        padding-top: 3rem;
    }

        .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item:last-child {
            padding-top: 2rem;
        }

        .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item .abs-todo_box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item .abs-todo_box .abs-media {
                margin-right: 1rem;
            }

            .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item .abs-todo_box .abs-todo_username {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                color: #595d6e;
                font-weight: 500;
            }

                .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item .abs-todo_box .abs-todo_username:hover {
                    color: #22b9ff;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

            .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item .abs-todo_box .abs-todo_date {
                color: #a2a5b9;
                font-weight: 500;
            }

        .abs-todo .abs-todo_view .abs-todo_body .abs-todo_item .abs-todo_text {
            padding-left: 3.3rem;
            display: block;
            color: #a2a5b9;
            font-weight: 500;
        }

.abs-todo .abs-todo_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

    .abs-todo .abs-todo_form .abs-todo_head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px 15px 20px 25px;
        border-bottom: 1px solid #ebedf2;
    }

        .abs-todo .abs-todo_form .abs-todo_head .abs-todo_title {
            margin-right: 10px;
            font-size: 1.2rem;
            font-weight: 500;
            color: #595d6e;
        }

        .abs-todo .abs-todo_form .abs-todo_head .abs-todo_actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

            .abs-todo .abs-todo_form .abs-todo_head .abs-todo_actions .abs-todo_icon {
                margin-left: 5px;
            }

    .abs-todo .abs-todo_form .abs-todo_body {
        padding: 0 0 10px 0;
    }

        .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            min-height: 50px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 10px 25px;
        }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_wrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .tagify {
                border: 0 !important;
            }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .tagify .tagify_input {
                    border: 0 !important;
                }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 100%;
                padding: 0;
            }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field.abs-todo_field--cc, .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field.abs-todo_field--bcc {
                    display: none;
                    margin-top: 5px;
                }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_label {
                    font-weight: 400;
                    font-size: 1rem;
                    width: 40px;
                    min-width: 40px;
                    color: #74788d;
                }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_input {
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                }

                    .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_input input {
                        border: 0 !important;
                        -webkit-box-shadow: none !important;
                        box-shadow: none !important;
                        -moz-appearance: none !important;
                        -webkit-appearance: none !important;
                    }

                    .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_input .form-control {
                        border: 0;
                        border-radius: 0;
                        padding-left: 0;
                        padding-right: 0;
                        color: #74788d;
                    }

                        .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_input .form-control::-moz-placeholder {
                            color: #74788d;
                            opacity: 1;
                        }

                        .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_input .form-control:-ms-input-placeholder {
                            color: #74788d;
                        }

                        .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_input .form-control::-webkit-input-placeholder {
                            color: #74788d;
                        }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_tools {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    margin-left: 1rem;
                }

                    .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to .abs-todo_field .abs-todo_tools .abs-todo_tool {
                        font-size: 1rem;
                        color: #a2a5b9;
                        font-weight: 500;
                        margin-left: 10px;
                        cursor: pointer;
                    }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to.abs-todo_to--cc .abs-todo_tools .abs-todo_tool:nth-child(1) {
                display: none;
            }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to.abs-todo_to--cc .abs-todo_field.abs-todo_field--cc {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to.abs-todo_to--bcc .abs-todo_tools .abs-todo_tool:nth-child(2) {
                display: none;
            }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_to.abs-todo_to--bcc .abs-todo_field.abs-todo_field--bcc {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

        .abs-todo .abs-todo_form .abs-todo_body .abs-todo_subject {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            min-height: 50px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 25px;
            border-top: 1px solid #ebedf2;
        }

            .abs-todo .abs-todo_form .abs-todo_body .abs-todo_subject .form-control {
                border: 0;
                border-radius: 0;
                padding-left: 0;
                padding-right: 0;
                font-weight: 400;
                font-size: 1rem;
                color: #74788d;
            }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_subject .form-control::-moz-placeholder {
                    color: #74788d;
                    opacity: 1;
                }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_subject .form-control:-ms-input-placeholder {
                    color: #74788d;
                }

                .abs-todo .abs-todo_form .abs-todo_body .abs-todo_subject .form-control::-webkit-input-placeholder {
                    color: #74788d;
                }

        .abs-todo .abs-todo_form .abs-todo_body .abs-todo_text {
            padding: 10px 25px;
            padding-bottom: 0;
            font-weight: 400;
            font-size: 1rem;
            color: #74788d;
        }

        .abs-todo .abs-todo_form .abs-todo_body .ql-container.ql-snow {
            border: 0;
            padding: 0;
            border-radius: 0;
        }

            .abs-todo .abs-todo_form .abs-todo_body .ql-container.ql-snow .ql-editor {
                font-weight: 400;
                font-size: 1rem;
                color: #74788d;
                padding: 15px 25px;
                font-family: Poppins, Helvetica, sans-serif;
            }

                .abs-todo .abs-todo_form .abs-todo_body .ql-container.ql-snow .ql-editor.ql-blank:before {
                    left: 25px;
                    color: #a2a5b9;
                    font-weight: 400;
                    font-style: normal;
                }

        .abs-todo .abs-todo_form .abs-todo_body .ql-toolbar.ql-snow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 50px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 0;
            border: 0;
            border-top: 1px solid #ebedf2;
            border-bottom: 1px solid #ebedf2;
            padding-left: 18px;
        }

            .abs-todo .abs-todo_form .abs-todo_body .ql-toolbar.ql-snow .ql-picker-label, .abs-todo .abs-todo_form .abs-todo_body .ql-toolbar.ql-snow .ql-picker-label:before {
                font-weight: 400;
                font-size: 1rem;
                color: #74788d;
                font-family: Poppins, Helvetica, sans-serif;
            }

        .abs-todo .abs-todo_form .abs-todo_body .abs-todo_attachments {
            min-width: 500px;
            display: inline-block;
            padding: 0 25px;
        }

    .abs-todo .abs-todo_form .abs-todo_foot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 20px 15px 20px 25px;
        border-top: 1px solid #ebedf2;
    }

        .abs-todo .abs-todo_form .abs-todo_foot .abs-todo_primary {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .abs-todo .abs-todo_form .abs-todo_foot .abs-todo_primary .btn-group .btn:nth-child(1) {
                padding-left: 20px;
                padding-right: 20px;
            }

            .abs-todo .abs-todo_form .abs-todo_foot .abs-todo_primary .btn-group .btn:nth-child(2) {
                padding-left: 6px;
                padding-right: 9px;
            }

            .abs-todo .abs-todo_form .abs-todo_foot .abs-todo_primary .abs-todo_panel {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-left: 1rem;
            }

        .abs-todo .abs-todo_form .abs-todo_foot .abs-todo_secondary {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 0;
        }

.abs-todo .abs-portlet_head {
    min-height: 80px !important;
    padding: 10px 25px;
}

@media (max-width: 1024px) {
    .abs-todo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
    }

        .abs-todo .abs-todo_aside {
            background: #fff;
            margin: 0;
        }

            .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link-title {
                padding-left: 1.2rem;
            }

            .abs-todo .abs-todo_aside .abs-todo_nav .abs-nav .abs-nav_item .abs-nav_link {
                padding: 0.75rem 10px;
            }

        .abs-todo .abs-todo_list .abs-todo_items {
            overflow: auto;
        }

            .abs-todo .abs-todo_list .abs-todo_items .abs-todo_item {
                min-width: 500px;
                padding: 10px 15px;
                margin-bottom: 15px;
            }

        .abs-todo .abs-todo_list .abs-portlet_head {
            min-height: 60px !important;
            padding: 10px 15px;
        }

        .abs-todo .abs-todo_list .abs-todo_foot {
            padding: 0 15px;
        }

        .abs-todo .abs-todo_view .abs-todo_subject {
            padding: 10px 15px;
        }

            .abs-todo .abs-todo_view .abs-todo_subject .abs-todo_title {
                display: block;
            }

                .abs-todo .abs-todo_view .abs-todo_subject .abs-todo_title .abs-todo_text {
                    display: inline;
                }

        .abs-todo .abs-todo_view .abs-todo_messages {
            padding: 10px 15px;
        }

            .abs-todo .abs-todo_view .abs-todo_messages .abs-todo_message {
                padding: 0 10px 5px 10px;
                margin-bottom: 15px;
            }

                .abs-todo .abs-todo_view .abs-todo_messages .abs-todo_message .abs-todo_head .abs-media span {
                    width: 26px;
                    height: 26px;
                }

                .abs-todo .abs-todo_view .abs-todo_messages .abs-todo_message .abs-todo_head .abs-todo_info .abs-todo_details .abs-todo_desc {
                    display: none;
                }

        .abs-todo .abs-todo_view .abs-todo_reply {
            padding: 10px 15px;
            overflow: auto;
        }

        .abs-todo .abs-portlet_head {
            min-height: 60px !important;
            padding: 10px 15px;
        }
}

@media (max-width: 768px) {
    .abs-todo .abs-todo_head {
        padding: 13px;
    }

        .abs-todo .abs-todo_head .abs-todo_nav .btn {
            margin-right: 0.2rem;
        }

    .abs-todo .abs-todo_view .abs-todo_messages .abs-todo_message .abs-todo_head {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        .abs-todo .abs-todo_view .abs-todo_messages .abs-todo_message .abs-todo_head .abs-todo_actions {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

    .abs-todo .abs-todo_view .abs-todo_reply {
        padding: 10px 15px;
    }
}

.abs-todo_aside-close {
    display: none;
}

@media (max-width: 1024px) {
    .abs-todo_aside {
        z-index: 1001;
        position: fixed;
        -webkit-overflow-scrolling: touch;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        -webkit-transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        width: 300px !important;
        -webkit-transition: left 0.3s ease, right 0.3s ease;
        transition: left 0.3s ease, right 0.3s ease;
        left: -320px;
    }

        .abs-todo_aside.abs-todo_aside--on {
            -webkit-transition: left 0.3s ease, right 0.3s ease;
            transition: left 0.3s ease, right 0.3s ease;
            left: 0;
        }
}

@media screen and (max-width: 1024px) and (-ms-high-contrast: active), (max-width: 1024px) and (-ms-high-contrast: none) {
    .abs-todo_aside {
        -webkit-transition: none !important;
        transition: none !important;
    }
}

@media (max-width: 1024px) {
    .abs-todo_aside--right .abs-todo_aside {
        right: -320px;
        left: auto;
    }

        .abs-todo_aside--right .abs-todo_aside.abs-todo_aside--on {
            -webkit-transition: left 0.3s ease, right 0.3s ease;
            transition: left 0.3s ease, right 0.3s ease;
            right: 0;
            left: auto;
        }

    .abs-todo_aside-close {
        width: 25px;
        height: 25px;
        top: 1px;
        z-index: 1002;
        -webkit-transition: left 0.3s ease, right 0.3s ease;
        transition: left 0.3s ease, right 0.3s ease;
        position: fixed;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 3px;
        cursor: pointer;
        outline: none !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        left: -25px;
    }
}

@media screen and (max-width: 1024px) and (-ms-high-contrast: active), (max-width: 1024px) and (-ms-high-contrast: none) {
    .abs-todo_aside-close {
        -webkit-transition: none !important;
        transition: none !important;
    }
}

@media (max-width: 1024px) {
    .abs-todo_aside-close > i {
        line-height: 0;
        font-size: 1.4rem;
    }

    .abs-todo_aside-close:hover {
        text-decoration: none;
    }

    .abs-todo_aside--right .abs-todo_aside-close {
        left: auto;
        right: -25px;
    }

    .abs-todo_aside--on .abs-todo_aside-close {
        -webkit-transition: left 0.3s ease, right 0.3s ease;
        transition: left 0.3s ease, right 0.3s ease;
        left: 274px;
    }

    .abs-todo_aside--on.abs-todo_aside--right .abs-todo_aside-close {
        left: auto;
        right: 274px;
    }

    .abs-todo_aside-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.1);
        -webkit-animation: abs-animate-fade-in .3s linear 1;
        animation: abs-animate-fade-in .3s linear 1;
    }

    .abs-todo_aside-overlay {
        background: rgba(0, 0, 0, 0.05);
    }

    .abs-todo_aside-close {
        background-color: #f7f8fa;
    }

        .abs-todo_aside-close > i {
            color: #74788d;
        }

        .abs-todo_aside-close:hover {
            background-color: transparent;
        }

            .abs-todo_aside-close:hover > i {
                color: #22b9ff;
            }
}

@media (max-width: 350px) {
    .abs-todo_aside {
        width: 90% !important;
    }
}
