@{Name = "Turing Dashboard Template";}

<!DOCTYPE html>
<html view-source="no" viewsource="no" xmlns="//www.w3.org/1999/xhtml" xmlns:b="//www.google.com/2005/gml/b" xmlns:data="//www.google.com/2005/gml/data" xmlns:expr="//www.google.com/2005/gml/expr" prefix="og:http://ogp.me/ns">
<head>
    <base href="/" />
    @await Component.InvokeAsync("MetaTags", Model)
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/ui/lib/bootstrap/bootstrap.css" />

    <!-- Tabler CSS files -->
    <link rel="stylesheet" href="/ui/lib/tabler/dist/css/tabler.min.css" />
    <link rel="stylesheet" href="/ui/lib/tabler/dist/css/tabler-flags.min.css" />
    <link rel="stylesheet" href="/ui/lib/tabler/dist/css/tabler-payments.min.css" />
    <link rel="stylesheet" href="/ui/lib/tabler/dist/css/tabler-vendors.min.css" />

    <!-- Dashboard CSS -->
    <link rel="stylesheet" href="/ui/css/dashboard.css" />

    <!-- Fonts CSS files -->
    <link rel="stylesheet" href="/ui/fonts/fontawesome/fontawesome.css" />

    <!-- Fabric CSS files -->
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />

    <!-- JQuery JS files -->
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script asp-append-version="true" type="text/javascript" src="/ui/lib/signalr/signalr.js"></script>

</head>

<body>
    @if (SuiteOptions.ABP.Integrations.Google.GoogleTagManager.Enable)
    {
        @* Google Tag Manager (noscript)  *@
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@SuiteOptions.ABP.Integrations.Google.GoogleTagManager.Id"
                    height="0"
                    width="0"
                    style="display:none; visibility:hidden">
            </iframe>
        </noscript>
    }

    @await Component.InvokeAsync("PortalHeader", Model)

    @await Component.InvokeAsync("PortalLeftSideNavigation", Model)

    @await Component.InvokeAsync("PortalResponsiveSideNav", Model)

    @await Component.InvokeAsync("PortalResponsiveHeader", Model)

    @if (ViewBag.SmallSpaceHeader == true)
    {
        <div class="header-spacer header-spacer-small"></div>
    }
    else
    {
        <div class="header-spacer"></div>
    }

    @if (User.Identity.IsAuthenticated)
    {

        @if (ViewBag.HideAccountHeader != true)
        {
            @if (Model.SelectedBusiness != null && ViewBag.ForceTenantHeader != true || ViewBag.ForceBusinessHeader == true && ViewBag.ForceTenantHeader != true)
            {
                @await Component.InvokeAsync("BusinessAccountHeader", new { Business = Model.SelectedBusiness })
            }
            if (Model.SelectedBusiness == null && ViewBag.ForceBusinessHeader != true || ViewBag.ForceTenantHeader == true && ViewBag.ForceBusinessHeader != true)
            {
                @await Component.InvokeAsync("AccountHeader", new { Holder = Model })
            }
        }
    }

    @Body

    <!-- JS Scripts -->
    <script asp-append-version="true" type="text/javascript" src="/ui/min/js/dashboard.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="/ui/lib/offline/js/offline.js"></script>
    <script asp-append-version="true" type="text/javascript" src="/ui/lib/tabler/dist/js/tabler.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="/ui/fonts/fontawesome/fontawesome.js"></script>
    <script asp-append-version="true" type="text/javascript" src="/ui/js/modules/abs.modules.social.js"></script>
    <script asp-append-version="true" type="text/javascript" src="/_framework/blazor.server.js"></script>

    <script>
        Offline.check()
    </script>

    @await Component.InvokeAsync("ValidationScripts", new { Holder = Model })

</body>
</html>