.abs-wizard-v2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 768px) {
    .abs-wizard-v2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.abs-wizard-v2 .abs-wizard-v2_aside {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    border-left: 1px solid #eeeef4;
    padding: 4.5rem 1.5rem 4.5rem 2.5rem;
}

    .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav {
        width: 100%;
    }

        .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item {
                padding: 0.75rem 1.5rem;
                position: relative;
                border-radius: 0.5rem;
            }

                .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item .abs-wizard-v2_nav-body {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }

                    .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item .abs-wizard-v2_nav-body .abs-wizard-v2_nav-icon {
                        font-size: 2.5rem;
                        margin-left: 1.1rem;
                        color: #959cb6;
                    }

                    .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item .abs-wizard-v2_nav-body .abs-wizard-v2_nav-label {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                    }

                        .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item .abs-wizard-v2_nav-body .abs-wizard-v2_nav-label .abs-wizard-v2_nav-label-title {
                            color: #50566a;
                            font-weight: 500;
                            font-size: 1.1rem;
                        }

                        .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item .abs-wizard-v2_nav-body .abs-wizard-v2_nav-label .abs-wizard-v2_nav-label-desc {
                            color: #959cb6;
                        }

                .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item[data-ktwizard-state="current"] {
                    background-color: #f4f6f9;
                }

                    .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item[data-ktwizard-state="current"] .abs-wizard-v2_nav-icon {
                        color: #22b9ff;
                    }

                    .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item[data-ktwizard-state="current"]:after {
                        right: 100%;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        content: " ";
                        height: 0;
                        width: 0;
                        border: solid transparent;
                        position: absolute;
                        border-right-color: #f4f6f9;
                        border-width: 1rem;
                    }

            .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items.abs-wizard-v2_nav-items--clickable .abs-wizard-v2_nav-item {
                cursor: pointer;
            }

@media (max-width: 768px) {
    .abs-wizard-v2 .abs-wizard-v2_aside {
        padding: 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }

        .abs-wizard-v2 .abs-wizard-v2_aside .abs-wizard-v2_nav .abs-wizard-v2_nav-items .abs-wizard-v2_nav-item[data-ktwizard-state="current"]:after {
            content: none;
        }
}

.abs-wizard-v2 .abs-wizard-v2_wrapper {
    background-color: #f4f6f9;
    width: 100%;
}

    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form {
        width: 80%;
        padding: 4rem 6rem 6rem;
    }

@media (max-width: 1399px) {
    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form {
        padding: 2rem 2.5rem 4rem;
    }
}

.abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-wizard-v2_content {
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #eeeef4;
    margin-bottom: 2rem;
}

    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-wizard-v2_content .abs-wizard-v2_review .abs-wizard-v2_review-item {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #eeeef4;
    }

        .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-wizard-v2_content .abs-wizard-v2_review .abs-wizard-v2_review-item .abs-wizard-v2_review-title {
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 0.7rem;
        }

        .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-wizard-v2_content .abs-wizard-v2_review .abs-wizard-v2_review-item .abs-wizard-v2_review-content {
            line-height: 1.8rem;
        }

        .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-wizard-v2_content .abs-wizard-v2_review .abs-wizard-v2_review-item:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

.abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-form_actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-form_actions {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-form_actions .btn {
        margin: 0 0.5rem 1rem;
    }
}

.abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-prev"] {
    margin-left: auto;
}

@media (max-width: 576px) {
    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-prev"] {
        margin-left: 0.5rem;
    }
}

.abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-next"] {
    margin: auto auto auto 0;
}

@media (max-width: 576px) {
    .abs-wizard-v2 .abs-wizard-v2_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-next"] {
        margin: 0 0 1rem;
    }
}

.abs-wizard-v2.abs-wizard-v2--white .abs-wizard-v2_wrapper {
    background-color: #ffffff;
}

.abs-wizard-v2 [data-ktwizard-type="step-info"] {
    display: none;
}

    .abs-wizard-v2 [data-ktwizard-type="step-info"][data-ktwizard-state="current"] {
        display: block;
    }

.abs-wizard-v2 [data-ktwizard-type="step-content"] {
    display: none;
}

    .abs-wizard-v2 [data-ktwizard-type="step-content"][data-ktwizard-state="current"] {
        display: block;
    }

.abs-wizard-v2 [data-ktwizard-type="action-prev"] {
    display: none;
}

.abs-wizard-v2 [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v2 [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v2[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"] {
    display: none;
}

.abs-wizard-v2[data-ktwizard-state="first"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v2[data-ktwizard-state="first"] [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v2[data-ktwizard-state="between"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}

.abs-wizard-v2[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v2[data-ktwizard-state="between"] [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v2[data-ktwizard-state="last"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}

.abs-wizard-v2[data-ktwizard-state="last"] [data-ktwizard-type="action-next"] {
    display: none;
}

.abs-wizard-v2[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] {
    display: inline-block;
}

/* @include abs-media-above(xl) {
	.abs-wizard-v2 {

	}
}

// Above 1024px and below 1200px
@include abs-media-range(lg, xl) {
	.abs-wizard-v2 {

	}
}

// Below 1024px
@include abs-media-below(lg) {
	.abs-wizard-v2 {

	}
} */
