@charset "UTF-8";

.abs-wizard-v1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .abs-wizard-v1 .abs-wizard-v1_nav {
        border-bottom: 1px solid #eeeef4;
    }

        .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 70%;
            margin: 0 auto;
        }

            .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }

                .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item:after {
                    font-family: Flaticon2;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    line-height: 1;
                    text-decoration: inherit;
                    text-rendering: optimizeLegibility;
                    text-transform: none;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    font-smoothing: antialiased;
                    content: "";
                    font-size: 1.25rem;
                    color: #a2a5b9;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }

                .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item:last-child:after {
                    content: none;
                }

                .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item .abs-wizard-v1_nav-body {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    padding: 2rem 1rem;
                    text-align: center;
                }

                    .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon {
                        font-size: 3.7rem;
                        color: #a2a5b9;
                        margin-bottom: 0.5rem;
                    }

                        .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon g [fill] {
                            -webkit-transition: fill 0.3s ease;
                            transition: fill 0.3s ease;
                            fill: #a2a5b9;
                        }

                        .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon:hover g [fill] {
                            -webkit-transition: fill 0.3s ease;
                            transition: fill 0.3s ease;
                        }

                    .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item .abs-wizard-v1_nav-body .abs-wizard-v1_nav-label {
                        font-size: 1.1rem;
                        font-weight: 500;
                        color: #74788d;
                    }

                .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="done"]:after, .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="current"]:after {
                    color: #22b9ff;
                }

                .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="done"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon, .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="current"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon {
                    color: #22b9ff;
                }

                    .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="done"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon g [fill], .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="current"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon g [fill] {
                        -webkit-transition: fill 0.3s ease;
                        transition: fill 0.3s ease;
                        fill: #22b9ff;
                    }

                    .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="done"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon:hover g [fill], .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="current"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon:hover g [fill] {
                        -webkit-transition: fill 0.3s ease;
                        transition: fill 0.3s ease;
                    }

                .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="done"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-label, .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item[data-ktwizard-state="current"] .abs-wizard-v1_nav-body .abs-wizard-v1_nav-label {
                    color: #22b9ff;
                }

            .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items.abs-wizard-v1_nav-items--clickable .abs-wizard-v1_nav-item {
                cursor: pointer;
            }

@media (max-width: 1399px) {
    .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 2rem 0;
    }

        .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            position: relative;
            width: 100%;
        }

            .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item:after {
                position: absolute;
                left: 2rem;
            }

            .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item:last-child:after {
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 2rem;
                color: #a2a5b9;
            }

            .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item .abs-wizard-v1_nav-body {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                padding: 0.5rem 2rem;
            }

                .abs-wizard-v1 .abs-wizard-v1_nav .abs-wizard-v1_nav-items .abs-wizard-v1_nav-item .abs-wizard-v1_nav-body .abs-wizard-v1_nav-icon {
                    font-size: 1.5rem;
                    margin-left: 1rem;
                    margin-bottom: 0;
                }
}

.abs-wizard-v1 .abs-wizard-v1_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f9fafc;
}

    .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form {
        width: 60%;
        padding: 4rem 0 5rem;
    }

        .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-wizard-v1_content {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #eeeef4;
        }

            .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-wizard-v1_content .abs-wizard-v1_form {
                margin-top: 3rem;
            }

            .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-wizard-v1_content .abs-wizard-v1_review .abs-wizard-v1_review-item {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid #eeeef4;
            }

                .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-wizard-v1_content .abs-wizard-v1_review .abs-wizard-v1_review-item .abs-wizard-v1_review-title {
                    font-weight: 600;
                    font-size: 1.1rem;
                    margin-bottom: 0.7rem;
                }

                .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-wizard-v1_content .abs-wizard-v1_review .abs-wizard-v1_review-item .abs-wizard-v1_review-content {
                    line-height: 1.8rem;
                }

                .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-wizard-v1_content .abs-wizard-v1_review .abs-wizard-v1_review-item:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

        .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-form_actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

@media (max-width: 576px) {
    .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-form_actions {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-form_actions .btn {
        margin: 0 0.5rem 1rem;
    }
}

.abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-prev"] {
    margin-left: auto;
}

@media (max-width: 576px) {
    .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-prev"] {
        margin-left: 0.5rem;
    }
}

.abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-next"] {
    margin: auto auto auto 0;
}

@media (max-width: 576px) {
    .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-next"] {
        margin: 0 0 1rem;
    }
}

@media (max-width: 768px) {
    .abs-wizard-v1 .abs-wizard-v1_wrapper {
        padding: 2rem;
    }

        .abs-wizard-v1 .abs-wizard-v1_wrapper .abs-form {
            width: 100%;
            padding: 2rem 1rem 4rem;
        }
}

.abs-wizard-v1.abs-wizard-v1--white .abs-wizard-v1_wrapper {
    background-color: #ffffff;
}

.abs-wizard-v1 [data-ktwizard-type="step-info"] {
    display: none;
}

    .abs-wizard-v1 [data-ktwizard-type="step-info"][data-ktwizard-state="current"] {
        display: block;
    }

.abs-wizard-v1 [data-ktwizard-type="step-content"] {
    display: none;
}

    .abs-wizard-v1 [data-ktwizard-type="step-content"][data-ktwizard-state="current"] {
        display: block;
    }

.abs-wizard-v1 [data-ktwizard-type="action-prev"] {
    display: none;
}

.abs-wizard-v1 [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v1 [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v1[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"] {
    display: none;
}

.abs-wizard-v1[data-ktwizard-state="first"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v1[data-ktwizard-state="first"] [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v1[data-ktwizard-state="between"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}

.abs-wizard-v1[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v1[data-ktwizard-state="between"] [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v1[data-ktwizard-state="last"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}

.abs-wizard-v1[data-ktwizard-state="last"] [data-ktwizard-type="action-next"] {
    display: none;
}

.abs-wizard-v1[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] {
    display: inline-block;
}
