.abs-wizard-v3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .abs-wizard-v3 .abs-wizard-v3_nav {
        border-bottom: 1px solid #eeeef4;
    }

        .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            padding: 0 4rem;
            cursor: pointer;
        }

            .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 20%;
                flex: 0 0 20%;
            }

                .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item .abs-wizard-v3_nav-body {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    color: #959cb6;
                    padding: 2rem 0.5rem;
                }

                    .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item .abs-wizard-v3_nav-body .abs-wizard-v3_nav-label {
                        font-size: 1.1rem;
                        font-weight: 600;
                        margin-bottom: 0.5rem;
                    }

                        .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item .abs-wizard-v3_nav-body .abs-wizard-v3_nav-label span {
                            font-size: 2rem;
                            margin-left: 0.5rem;
                        }

                    .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item .abs-wizard-v3_nav-body .abs-wizard-v3_nav-bar {
                        height: 4px;
                        width: 100%;
                        background-color: #dee1eb;
                        position: relative;
                    }

                        .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item .abs-wizard-v3_nav-body .abs-wizard-v3_nav-bar:after {
                            content: ' ';
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 4px;
                            width: 0;
                            background-color: transparent;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                        }

                .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item[data-ktwizard-state="current"]:after {
                    color: #22b9ff;
                }

                .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item[data-ktwizard-state="current"] .abs-wizard-v3_nav-body {
                    color: #22b9ff;
                }

                    .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item[data-ktwizard-state="current"] .abs-wizard-v3_nav-body .abs-wizard-v3_nav-bar:after {
                        width: 100%;
                        background-color: #22b9ff;
                    }

@media (max-width: 768px) {
    .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 2rem 0;
    }

        .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            position: relative;
            width: 100%;
        }

            .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item:after {
                position: absolute;
                left: 2rem;
            }

            .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item:last-child:after {
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 2rem;
                color: #dee1eb;
            }

            .abs-wizard-v3 .abs-wizard-v3_nav .abs-wizard-v3_nav-items .abs-wizard-v3_nav-item .abs-wizard-v3_nav-body {
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                padding: 0.5rem 2rem;
            }
}

.abs-wizard-v3 .abs-wizard-v3_nav.abs-wizard-v3_nav-items--clickable .abs-wizard-v3_nav-item {
    cursor: pointer;
}

.abs-wizard-v3 .abs-wizard-v3_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f9fafc;
}

    .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form {
        width: 60%;
        padding: 4rem 0 5rem;
    }

        .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-wizard-v3_content {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #eeeef4;
        }

            .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-wizard-v3_content .abs-wizard-v3_form {
                margin-top: 3rem;
            }

            .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-wizard-v3_content .abs-wizard-v3_review .abs-wizard-v3_review-item {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid #eeeef4;
            }

                .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-wizard-v3_content .abs-wizard-v3_review .abs-wizard-v3_review-item .abs-wizard-v3_review-title {
                    font-weight: 600;
                    font-size: 1.1rem;
                    margin-bottom: 0.7rem;
                }

                .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-wizard-v3_content .abs-wizard-v3_review .abs-wizard-v3_review-item .abs-wizard-v3_review-content {
                    line-height: 1.8rem;
                }

                .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-wizard-v3_content .abs-wizard-v3_review .abs-wizard-v3_review-item:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

        .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-form_actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

@media (max-width: 576px) {
    .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-form_actions {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-form_actions .btn {
        margin: 0 0.5rem 1rem;
    }
}

.abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-prev"] {
    margin-left: auto;
}

@media (max-width: 576px) {
    .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-prev"] {
        margin-left: 0.5rem;
    }
}

.abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-next"] {
    margin: auto auto auto 0;
}

@media (max-width: 576px) {
    .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form .abs-form_actions [data-ktwizard-type="action-next"] {
        margin: 0 0 1rem;
    }
}

@media (max-width: 768px) {
    .abs-wizard-v3 .abs-wizard-v3_wrapper {
        padding: 2rem;
    }

        .abs-wizard-v3 .abs-wizard-v3_wrapper .abs-form {
            width: 100%;
            padding: 2rem 1rem 4rem;
        }
}

.abs-wizard-v3.abs-wizard-v3--white .abs-wizard-v3_wrapper {
    background-color: #ffffff;
}

.abs-wizard-v3 [data-ktwizard-type="step-info"] {
    display: none;
}

    .abs-wizard-v3 [data-ktwizard-type="step-info"][data-ktwizard-state="current"] {
        display: block;
    }

.abs-wizard-v3 [data-ktwizard-type="step-content"] {
    display: none;
}

    .abs-wizard-v3 [data-ktwizard-type="step-content"][data-ktwizard-state="current"] {
        display: block;
    }

.abs-wizard-v3 [data-ktwizard-type="action-prev"] {
    display: none;
}

.abs-wizard-v3 [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v3 [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v3[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"] {
    display: none;
}

.abs-wizard-v3[data-ktwizard-state="first"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v3[data-ktwizard-state="first"] [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}

.abs-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] {
    display: inline-block;
}

.abs-wizard-v3[data-ktwizard-state="between"] [data-ktwizard-type="action-submit"] {
    display: none;
}

.abs-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-prev"] {
    display: inline-block;
}

.abs-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-next"] {
    display: none;
}

.abs-wizard-v3[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] {
    display: inline-block;
}
