<!--Begin:: Chat-->
<div class="modal fade- modal-sticky-bottom-right" id="abs_chat_modal" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="abs-chat">
                <div class="abs-portlet abs-portlet--last">
                    <div class="abs-portlet_head">
                        <div class="abs-chat_head ">
                            <div class="abs-chat_left">
                                <div class="abs-chat_label">
                                    <a href="#" class="abs-chat_title">Jason Muller</a>
                                    <span class="abs-chat_status">
                                        <span class="abs-badge abs-badge--dot abs-badge--success"></span> Active
                                    </span>
                                </div>
                            </div>
                            <div class="abs-chat_right">
                                <div class="dropdown dropdown-inline">
                                    <button type="button" class="btn btn-clean btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon-more-1"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">

                                        <!--begin::Nav-->
                                        <ul class="abs-nav">
                                            <li class="abs-nav_head">
                                                Messaging
                                                <i class="flaticon2-information" data-toggle="abs-tooltip" data-placement="right" title="Click to learn more..."></i>
                                            </li>
                                            <li class="abs-nav_separator"></li>
                                            <li class="abs-nav_item">
                                                <a href="#" class="abs-nav_link">
                                                    <i class="abs-nav_link-icon flaticon2-group"></i>
                                                    <span class="abs-nav_link-text">New Group</span>
                                                </a>
                                            </li>
                                            <li class="abs-nav_item">
                                                <a href="#" class="abs-nav_link">
                                                    <i class="abs-nav_link-icon flaticon2-open-text-book"></i>
                                                    <span class="abs-nav_link-text">Contacts</span>
                                                    <span class="abs-nav_link-badge">
                                                        <span class="abs-badge abs-badge--brand  abs-badge--rounded-">5</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="abs-nav_item">
                                                <a href="#" class="abs-nav_link">
                                                    <i class="abs-nav_link-icon flaticon2-bell-2"></i>
                                                    <span class="abs-nav_link-text">Calls</span>
                                                </a>
                                            </li>
                                            <li class="abs-nav_item">
                                                <a href="#" class="abs-nav_link">
                                                    <i class="abs-nav_link-icon flaticon2-dashboard"></i>
                                                    <span class="abs-nav_link-text">Settings</span>
                                                </a>
                                            </li>
                                            <li class="abs-nav_item">
                                                <a href="#" class="abs-nav_link">
                                                    <i class="abs-nav_link-icon flaticon2-protected"></i>
                                                    <span class="abs-nav_link-text">Help</span>
                                                </a>
                                            </li>
                                            <li class="abs-nav_separator"></li>
                                            <li class="abs-nav_foot">
                                                <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                                                <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="abs-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                            </li>
                                        </ul>

                                        <!--end::Nav-->
                                    </div>
                                </div>
                                <button type="button" class="btn btn-clean btn-sm btn-icon" data-dismiss="modal">
                                    <i class="flaticon2-cross"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="abs-portlet_body">
                        <div class="abs-scroll abs-scroll--pull" data-height="410" data-mobile-height="225">
                            <div class="abs-chat_messages abs-chat_messages--solid">
                                <div class="abs-chat_message abs-chat_message--success">
                                    <div class="abs-chat_user">
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/100_12.jpg" alt="image">
                                        </span>
                                        <a href="#" class="abs-chat_username">Jason Muller</span></a>
                                        <span class="abs-chat_datetime">2 Hours</span>
                                    </div>
                                    <div class="abs-chat_text">
                                        How likely are you to recommend our company<br> to your friends and family?
                                    </div>
                                </div>
                                <div class="abs-chat_message abs-chat_message--right abs-chat_message--brand">
                                    <div class="abs-chat_user">
                                        <span class="abs-chat_datetime">30 Seconds</span>
                                        <a href="#" class="abs-chat_username">You</span></a>
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/300_21.jpg" alt="image">
                                        </span>
                                    </div>
                                    <div class="abs-chat_text">
                                        Hey there, we’re just writing to let you know that you’ve<br> been subscribed to a repository on GitHub.
                                    </div>
                                </div>
                                <div class="abs-chat_message abs-chat_message--success">
                                    <div class="abs-chat_user">
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/100_12.jpg" alt="image">
                                        </span>
                                        <a href="#" class="abs-chat_username">Jason Muller</span></a>
                                        <span class="abs-chat_datetime">30 Seconds</span>
                                    </div>
                                    <div class="abs-chat_text">
                                        Ok, Understood!
                                    </div>
                                </div>
                                <div class="abs-chat_message abs-chat_message--right abs-chat_message--brand">
                                    <div class="abs-chat_user">
                                        <span class="abs-chat_datetime">Just Now</span>
                                        <a href="#" class="abs-chat_username">You</span></a>
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/300_21.jpg" alt="image">
                                        </span>
                                    </div>
                                    <div class="abs-chat_text">
                                        You’ll receive notifications for all issues, pull requests!
                                    </div>
                                </div>
                                <div class="abs-chat_message abs-chat_message--success">
                                    <div class="abs-chat_user">
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/100_12.jpg" alt="image">
                                        </span>
                                        <a href="#" class="abs-chat_username">Jason Muller</span></a>
                                        <span class="abs-chat_datetime">2 Hours</span>
                                    </div>
                                    <div class="abs-chat_text">
                                        You were automatically <b class="abs-font-brand">subscribed</b> <br>because you’ve been given access to the repository
                                    </div>
                                </div>
                                <div class="abs-chat_message abs-chat_message--right abs-chat_message--brand">
                                    <div class="abs-chat_user">
                                        <span class="abs-chat_datetime">30 Seconds</span>
                                        <a href="#" class="abs-chat_username">You</span></a>
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/300_21.jpg" alt="image">
                                        </span>
                                    </div>
                                    <div class="abs-chat_text">
                                        You can unwatch this repository immediately <br>by clicking here: <a href="#" class="abs-font-bold abs-link"></a>
                                    </div>
                                </div>
                                <div class="abs-chat_message abs-chat_message--success">
                                    <div class="abs-chat_user">
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/100_12.jpg" alt="image">
                                        </span>
                                        <a href="#" class="abs-chat_username">Jason Muller</span></a>
                                        <span class="abs-chat_datetime">30 Seconds</span>
                                    </div>
                                    <div class="abs-chat_text">
                                        Discover what students who viewed Learn <br>Figma - UI/UX Design Essential Training also viewed
                                    </div>
                                </div>
                                <div class="abs-chat_message abs-chat_message--right abs-chat_message--brand">
                                    <div class="abs-chat_user">
                                        <span class="abs-chat_datetime">Just Now</span>
                                        <a href="#" class="abs-chat_username">You</span></a>
                                        <span class="abs-media abs-media--circle abs-media--sm">
                                            <img src="assets/media/users/300_21.jpg" alt="image">
                                        </span>
                                    </div>
                                    <div class="abs-chat_text">
                                        Most purchased Business courses during this sale!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="abs-portlet_foot">
                        <div class="abs-chat_input">
                            <div class="abs-chat_editor">
                                <textarea placeholder="Type here..." style="height: 50px"></textarea>
                            </div>
                            <div class="abs-chat_toolbar">
                                <div class="abs_chat_tools">
                                    <a href="#"><i class="flaticon2-link"></i></a>
                                    <a href="#"><i class="flaticon2-photograph"></i></a>
                                    <a href="#"><i class="flaticon2-photo-camera"></i></a>
                                </div>
                                <div class="abs_chat_actions">
                                    <button type="button" class="btn btn-brand btn-md  btn-font-sm btn-upper btn-bold abs-chat_reply">reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ENd:: Chat-->