
<!-- begin::Sticky Toolbar -->
<ul class="abs-sticky-toolbar" style="margin-top: 30px;">
	<li class="abs-sticky-toolbar_item abs-sticky-toolbar_item--success" id="abs_demo_panel_toggle" data-toggle="abs-tooltip" title="Check out more demos" data-placement="right">
		<a href="#" class=""><i class="flaticon2-drop"></i></a>
	</li>
	<li class="abs-sticky-toolbar_item abs-sticky-toolbar_item--brand" data-toggle="abs-tooltip" title="Layout Builder" data-placement="left">
		<a href="https://fenix-alliance.com/absiew/demo7/builder.html" target="_blank"><i class="flaticon2-gear"></i></a>
	</li>
	<li class="abs-sticky-toolbar_item abs-sticky-toolbar_item--warning" data-toggle="abs-tooltip" title="Documentation" data-placement="left">
		<a href="https://fenix-alliance.com/abse=docs" target="_blank"><i class="flaticon2-telegram-logo"></i></a>
	</li>
	<li class="abs-sticky-toolbar_item abs-sticky-toolbar_item--danger" id="abs_sticky_toolbar_chat_toggler" data-toggle="abs-tooltip" title="Chat Example" data-placement="left">
		<a href="#" data-toggle="modal" data-target="#abs_chat_modal"><i class="flaticon2-chat-1"></i></a>
	</li>
</ul>

<!-- end::Sticky Toolbar -->