<ul class="abs-nav abs-margin-t-10 abs-margin-b-10">
	<li class="abs-nav_item abs-nav_item--active">
		<a href="#" class="abs-nav_link">
			<span class="abs-nav_link-icon"><img src="assets/media/flags/226-united-states.svg" alt="" /></span>
			<span class="abs-nav_link-text">English</span>
		</a>
	</li>
	<li class="abs-nav_item">
		<a href="#" class="abs-nav_link">
			<span class="abs-nav_link-icon"><img src="assets/media/flags/128-spain.svg" alt="" /></span>
			<span class="abs-nav_link-text">Spanish</span>
		</a>
	</li>
	<li class="abs-nav_item">
		<a href="#" class="abs-nav_link">
			<span class="abs-nav_link-icon"><img src="assets/media/flags/162-germany.svg" alt="" /></span>
			<span class="abs-nav_link-text">German</span>
		</a>
	</li>
</ul>