
<!-- begin:: Mycart -->
<div class="abs-mycart">
	<div class="abs-mycart_head abs-head" style="background-image: url(assets/media/misc/bg-1.jpg);">
		<div class="abs-mycart_info">
			<span class="abs-mycart_icon"><i class="flaticon2-shopping-cart-1 abs-font-success"></i></span>
			<h3 class="abs-mycart_title">My Cart</h3>
		</div>
		<div class="abs-mycart_button">
			<button type="button" class="btn btn-success btn-sm" style=" ">2 Items</button>
		</div>
	</div>
	<div class="abs-mycart_body abs-scroll" data-scroll="true" data-height="245" data-mobile-height="200">
		<div class="abs-mycart_item">
			<div class="abs-mycart_container">
				<div class="abs-mycart_info">
					<a href="#" class="abs-mycart_title">
						Samsung
					</a>
					<span class="abs-mycart_desc">
						Profile info, Timeline etc
					</span>
					<div class="abs-mycart_action">
						<span class="abs-mycart_price">$ 450</span>
						<span class="abs-mycart_text">for</span>
						<span class="abs-mycart_quantity">7</span>
						<a href="#" class="btn btn-label-success btn-icon">&minus;</a>
						<a href="#" class="btn btn-label-success btn-icon">&plus;</a>
					</div>
				</div>
				<a href="#" class="abs-mycart_pic">
					<img src="assets/media/products/product9.jpg" title="">
				</a>
			</div>
		</div>
		<div class="abs-mycart_item">
			<div class="abs-mycart_container">
				<div class="abs-mycart_info">
					<a href="#" class="abs-mycart_title">
						Panasonic
					</a>
					<span class="abs-mycart_desc">
						For PHoto & Others
					</span>
					<div class="abs-mycart_action">
						<span class="abs-mycart_price">$ 329</span>
						<span class="abs-mycart_text">for</span>
						<span class="abs-mycart_quantity">1</span>
						<a href="#" class="btn btn-label-success btn-icon">&minus;</a>
						<a href="#" class="btn btn-label-success btn-icon">&plus;</a>
					</div>
				</div>
				<a href="#" class="abs-mycart_pic">
					<img src="assets/media/products/product13.jpg" title="">
				</a>
			</div>
		</div>
		<div class="abs-mycart_item">
			<div class="abs-mycart_container">
				<div class="abs-mycart_info">
					<a href="#" class="abs-mycart_title">
						Fujifilm
					</a>
					<span class="abs-mycart_desc">
						Profile info, Timeline etc
					</span>
					<div class="abs-mycart_action">
						<span class="abs-mycart_price">$ 520</span>
						<span class="abs-mycart_text">for</span>
						<span class="abs-mycart_quantity">6</span>
						<a href="#" class="btn btn-label-success btn-icon">&minus;</a>
						<a href="#" class="btn btn-label-success btn-icon">&plus;</a>
					</div>
				</div>
				<a href="#" class="abs-mycart_pic">
					<img src="assets/media/products/product16.jpg" title="">
				</a>
			</div>
		</div>
		<div class="abs-mycart_item">
			<div class="abs-mycart_container">
				<div class="abs-mycart_info">
					<a href="#" class="abs-mycart_title">
						Candy Machine
					</a>
					<span class="abs-mycart_desc">
						For PHoto & Others
					</span>
					<div class="abs-mycart_action">
						<span class="abs-mycart_price">$ 784</span>
						<span class="abs-mycart_text">for</span>
						<span class="abs-mycart_quantity">4</span>
						<a href="#" class="btn btn-label-success btn-icon">&minus;</a>
						<a href="#" class="btn btn-label-success btn-icon">&plus;</a>
					</div>
				</div>
				<a href="#" class="abs-mycart_pic">
					<img src="assets/media/products/product15.jpg" title="" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="abs-mycart_footer">
		<div class="abs-mycart_section">
			<div class="abs-mycart_subtitel">
				<span>Sub Total</span>
				<span>Taxes</span>
				<span>Total</span>
			</div>
			<div class="abs-mycart_prices">
				<span>$ 840.00</span>
				<span>$ 72.00</span>
				<span class="abs-font-brand">$ 912.00</span>
			</div>
		</div>
		<div class="abs-mycart_button abs-align-right">
			<button type="button" class="btn btn-primary btn-sm">Place Order</button>
		</div>
	</div>
</div>

<!-- end:: Mycart -->