
<!--begin: Head -->
<div class="abs-head abs-head--skin-light abs-head--fit-x abs-head--fit-b">
	<h3 class="abs-head_title">
		User Notifications
		&nbsp;
		<span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 new</span>
	</h3>
	<ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  abs-notification-item-padding-x" role="tablist">
		<li class="nav-item">
			<a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Alerts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false">Events</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false">Logs</a>
		</li>
	</ul>
</div>

<!--end: Head -->
<div class="tab-content">
	<div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
		<div class="abs-notification abs-margin-t-10 abs-margin-b-10 abs-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-line-chart abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New order has been received
					</div>
					<div class="abs-notification_item-time">
						2 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-box-1 abs-font-brand"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New customer is registered
					</div>
					<div class="abs-notification_item-time">
						3 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-chart2 abs-font-danger"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						Application has been approved
					</div>
					<div class="abs-notification_item-time">
						3 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-image-file abs-font-warning"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New file has been uploaded
					</div>
					<div class="abs-notification_item-time">
						5 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-drop abs-font-info"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New user feedback received
					</div>
					<div class="abs-notification_item-time">
						8 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-pie-chart-2 abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						System reboot has been successfully completed
					</div>
					<div class="abs-notification_item-time">
						12 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-favourite abs-font-danger"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New order has been placed
					</div>
					<div class="abs-notification_item-time">
						15 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item abs-notification_item--read">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-safe abs-font-primary"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						Company meeting canceled
					</div>
					<div class="abs-notification_item-time">
						19 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-psd abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New report has been received
					</div>
					<div class="abs-notification_item-time">
						23 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon-download-1 abs-font-danger"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						Finance report has been generated
					</div>
					<div class="abs-notification_item-time">
						25 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon-security abs-font-warning"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New customer comment recieved
					</div>
					<div class="abs-notification_item-time">
						2 days ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-pie-chart abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New customer is registered
					</div>
					<div class="abs-notification_item-time">
						3 days ago
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
		<div class="abs-notification abs-margin-t-10 abs-margin-b-10 abs-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-psd abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New report has been received
					</div>
					<div class="abs-notification_item-time">
						23 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon-download-1 abs-font-danger"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						Finance report has been generated
					</div>
					<div class="abs-notification_item-time">
						25 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-line-chart abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New order has been received
					</div>
					<div class="abs-notification_item-time">
						2 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-box-1 abs-font-brand"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New customer is registered
					</div>
					<div class="abs-notification_item-time">
						3 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-chart2 abs-font-danger"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						Application has been approved
					</div>
					<div class="abs-notification_item-time">
						3 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-image-file abs-font-warning"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New file has been uploaded
					</div>
					<div class="abs-notification_item-time">
						5 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-drop abs-font-info"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New user feedback received
					</div>
					<div class="abs-notification_item-time">
						8 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-pie-chart-2 abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						System reboot has been successfully completed
					</div>
					<div class="abs-notification_item-time">
						12 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-favourite abs-font-brand"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New order has been placed
					</div>
					<div class="abs-notification_item-time">
						15 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item abs-notification_item--read">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-safe abs-font-primary"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						Company meeting canceled
					</div>
					<div class="abs-notification_item-time">
						19 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-psd abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New report has been received
					</div>
					<div class="abs-notification_item-time">
						23 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon-download-1 abs-font-danger"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						Finance report has been generated
					</div>
					<div class="abs-notification_item-time">
						25 hrs ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon-security abs-font-warning"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New customer comment recieved
					</div>
					<div class="abs-notification_item-time">
						2 days ago
					</div>
				</div>
			</a>
			<a href="#" class="abs-notification_item">
				<div class="abs-notification_item-icon">
					<i class="flaticon2-pie-chart abs-font-success"></i>
				</div>
				<div class="abs-notification_item-details">
					<div class="abs-notification_item-title">
						New customer is registered
					</div>
					<div class="abs-notification_item-time">
						3 days ago
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
		<div class="abs-grid abs-grid--ver" style="min-height: 200px;">
			<div class="abs-grid abs-grid--hor abs-grid_item abs-grid_item--fluid abs-grid_item--middle">
				<div class="abs-grid_item abs-grid_item--middle abs-align-center">
					All caught up!
					<br>No new notifications.
				</div>
			</div>
		</div>
	</div>
</div>