<div class="abs-quick-search abs-quick-search--inline abs-quick-search--result-compact" id="abs_quick_search_inline">
	<form method="get" class="abs-quick-search_form">
		<div class="input-group">
			<div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
			<input type="text" class="form-control abs-quick-search_input" placeholder="Search...">
			<div class="input-group-append"><span class="input-group-text"><i class="la la-close abs-quick-search_close" style="display: none;"></i></span></div>
		</div>
	</form>
	<div id="abs_quick_search_toggle" data-toggle="dropdown" data-offset="0px,10px"></div>
	<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
		<div class="abs-quick-search_wrapper abs-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
		</div>
	</div>
</div>