
<!--begin: Head -->
<div class="abs-user-card abs-user-card--skin-light abs-notification-item-padding-x">
	<div class="abs-user-card_avatar">
		<img class="abs-hidden-" alt="Pic" src="assets/media/users/300_25.jpg" />

		<!--use below badge element instead the user avatar to display username's first letter(remove abs-hidden class to display it) -->
		<span class="abs-badge abs-badge--username abs-badge--unified-success abs-badge--lg abs-badge--rounded abs-badge--bold abs-hidden">S</span>
	</div>
	<div class="abs-user-card_name">
		Sean Stone
	</div>
	<div class="abs-user-card_badge">
		<span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 messages</span>
	</div>
</div>

<!--end: Head -->

<!--begin: Navigation -->
<div class="abs-notification">
	<a href="custom/apps/user/profile-1/personal-information.html" class="abs-notification_item">
		<div class="abs-notification_item-icon">
			<i class="flaticon2-calendar-3 abs-font-success"></i>
		</div>
		<div class="abs-notification_item-details">
			<div class="abs-notification_item-title abs-font-bold">
				My Profile
			</div>
			<div class="abs-notification_item-time">
				Account settings and more
			</div>
		</div>
	</a>
	<a href="custom/apps/user/profile-3.html" class="abs-notification_item">
		<div class="abs-notification_item-icon">
			<i class="flaticon2-mail abs-font-warning"></i>
		</div>
		<div class="abs-notification_item-details">
			<div class="abs-notification_item-title abs-font-bold">
				My Messages
			</div>
			<div class="abs-notification_item-time">
				Inbox and tasks
			</div>
		</div>
	</a>
	<a href="custom/apps/user/profile-2.html" class="abs-notification_item">
		<div class="abs-notification_item-icon">
			<i class="flaticon2-rocket-1 abs-font-danger"></i>
		</div>
		<div class="abs-notification_item-details">
			<div class="abs-notification_item-title abs-font-bold">
				My Activities
			</div>
			<div class="abs-notification_item-time">
				Logs and notifications
			</div>
		</div>
	</a>
	<a href="custom/apps/user/profile-3.html" class="abs-notification_item">
		<div class="abs-notification_item-icon">
			<i class="flaticon2-hourglass abs-font-brand"></i>
		</div>
		<div class="abs-notification_item-details">
			<div class="abs-notification_item-title abs-font-bold">
				My Tasks
			</div>
			<div class="abs-notification_item-time">
				latest tasks and projects
			</div>
		</div>
	</a>
	<a href="custom/apps/user/profile-1/overview.html" class="abs-notification_item">
		<div class="abs-notification_item-icon">
			<i class="flaticon2-cardiogram abs-font-warning"></i>
		</div>
		<div class="abs-notification_item-details">
			<div class="abs-notification_item-title abs-font-bold">
				Billing
			</div>
			<div class="abs-notification_item-time">
				billing & statements <span class="abs-badge abs-badge--danger abs-badge--inline abs-badge--pill abs-badge--rounded">2 pending</span>
			</div>
		</div>
	</a>
	<div class="abs-notification_custom abs-space-between">
		<a href="custom/user/login-v2.html" target="_blank" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
		<a href="custom/user/login-v2.html" target="_blank" class="btn btn-clean btn-sm btn-bold">Upgrade Plan</a>
	</div>
</div>

<!--end: Navigation -->