.abs-login.abs-login--v3 {
  background-size: cover;
  background-repeat: no-repeat; }
  .abs-login.abs-login--v3 .abs-login_wrapper {
    padding: 6% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden; }
    .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container {
      width: 430px;
      margin: 0 auto; }
      .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_logo {
        text-align: center;
        margin: 0 auto 4rem auto; }
      .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_head {
        margin-top: 1rem;
        margin-bottom: 3rem; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_head .abs-login_title {
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          color: #595d6e; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_head .abs-login_desc {
          margin-top: 1.5rem;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 400;
          color: #74788d; }
      .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form {
        margin: 0 auto; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .input-group {
          padding: 0;
          margin: 0 auto; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .form-control {
          height: 46px;
          border: none;
          padding-right: 1.5rem;
          padding-left: 1.5rem;
          margin-top: 1.5rem;
          background: rgba(235, 237, 242, 0.4); }
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .form-control::-moz-placeholder {
            color: #74788d;
            opacity: 1; }
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .form-control:-ms-input-placeholder {
            color: #74788d; }
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .form-control::-webkit-input-placeholder {
            color: #74788d; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .form-control.is-valid + .valid-feedback,
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .form-control.is-invalid + .invalid-feedback {
          font-weight: 500;
          font-size: 0.9rem;
          padding-right: 1.6rem; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra {
          margin-top: 30px;
          margin-bottom: 15px;
          color: #74788d;
          font-size: 1rem; }
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-checkbox {
            font-size: 1rem; }
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-login_link {
            font-size: 1rem;
            color: #74788d;
            -webkit-transition: color 0.3s ease;
            transition: color 0.3s ease; }
            .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-login_link:hover {
              color: #22b9ff;
              -webkit-transition: color 0.3s ease;
              transition: color 0.3s ease; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions {
          text-align: center;
          margin-top: 7%; }
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary,
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-primary {
            height: 50px;
            padding-right: 2.5rem;
            padding-left: 2.5rem; }
      .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_account {
        text-align: center;
        margin-top: 2rem; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_account .abs-login_account-msg {
          font-size: 1rem;
          font-weight: 400;
          color: #74788d; }
        .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_account .abs-login_account-link {
          font-size: 1rem;
          font-weight: 500;
          color: #595d6e;
          -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease; }
          .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_account .abs-login_account-link:hover {
            color: #22b9ff;
            -webkit-transition: color 0.3s ease;
            transition: color 0.3s ease; }

.abs-login.abs-login--v3.abs-login--signin .abs-login_signup {
  display: none; }

.abs-login.abs-login--v3.abs-login--signin .abs-login_signin {
  display: block; }

.abs-login.abs-login--v3.abs-login--signin .abs-login_forgot {
  display: none; }

.abs-login.abs-login--v3.abs-login--signup .abs-login_signup {
  display: block; }

.abs-login.abs-login--v3.abs-login--signup .abs-login_signin {
  display: none; }

.abs-login.abs-login--v3.abs-login--signup .abs-login_forgot {
  display: none; }

.abs-login.abs-login--v3.abs-login--signup .abs-login_account {
  display: none; }

.abs-login.abs-login--v3.abs-login--forgot .abs-login_signup {
  display: none; }

.abs-login.abs-login--v3.abs-login--forgot .abs-login_signin {
  display: none; }

.abs-login.abs-login--v3.abs-login--forgot .abs-login_forgot {
  display: block; }

@media (max-width: 1024px) {
  .abs-login.abs-login--v3 .abs-login_wrapper {
    padding-top: 5rem;
    width: 100%; }
    .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container {
      margin: 0 auto; }
      .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_account {
        margin-top: 1rem; } }

@media (max-width: 768px) {
  .abs-login.abs-login--v3 .abs-login_wrapper {
    width: 100%; }
    .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container {
      width: 100%;
      margin: 0 auto; }
      .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-form {
        width: 100%;
        margin: 0 auto; }
      .abs-login.abs-login--v3 .abs-login_wrapper .abs-login_container .abs-login_account {
        margin-top: 1rem; } }
