.abs-login.abs-login--v2 {
  background-size: cover;
  background-repeat: no-repeat; }
  .abs-login.abs-login--v2 .abs-login_wrapper {
    padding: 6% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden; }
    .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container {
      width: 430px;
      margin: 0 auto; }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_logo {
        text-align: center;
        margin: 0 auto 4rem auto; }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_head {
        margin-top: 1rem; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_head .abs-login_title {
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          color: #fff; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_head .abs-login_desc {
          margin-top: 1.5rem;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.8); }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form {
        margin: 4rem auto; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .input-group {
          padding: 0;
          margin: 0 auto; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .form-control {
          height: 46px;
          border-radius: 46px;
          border: none;
          padding-right: 1.5rem;
          padding-left: 1.5rem;
          margin-top: 1.5rem;
          background: rgba(67, 34, 167, 0.4);
          color: #fff; }
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .form-control::-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
            opacity: 1; }
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .form-control:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7); }
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .form-control::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7); }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .form-control.is-valid + .valid-feedback,
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .form-control.is-invalid + .invalid-feedback {
          font-weight: 500;
          font-size: 0.9rem;
          padding-right: 1.6rem; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra {
          padding-right: 7px;
          padding-left: 7px;
          margin: 15px auto;
          color: rgba(255, 255, 255, 0.6);
          font-size: 1rem; }
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-checkbox {
            font-size: 1rem; }
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-checkbox > span {
              border: 1px solid rgba(255, 255, 255, 0.6); }
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-checkbox input:checked ~ span {
              border: 1px solid #fff; }
              .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-checkbox input:checked ~ span:after {
                border: solid #fff; }
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-login_link {
            font-size: 1rem;
            color: rgba(255, 255, 255, 0.6); }
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_extra .abs-login_link:hover {
              color: #fff; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions {
          text-align: center;
          margin-top: 7%; }
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-primary,
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary {
            height: 46px;
            display: inline-block;
            text-align: center;
            padding-right: 4rem;
            padding-left: 4rem;
            margin-top: 0.8rem;
            border-radius: 60px;
            background: transparent;
            color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 0.4); }
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-primary.active, .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-primary:active, .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-primary:hover,
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary.active,
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary:active,
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary:hover {
              color: #fff;
              border-color: #fff; }
          .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary {
            color: rgba(255, 255, 255, 0.4);
            border-color: rgba(255, 255, 255, 0.3); }
            .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary.active, .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary:active, .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .abs-login_actions .abs-login_btn-secondary:hover {
              color: #fff;
              border-color: #fff; }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_account {
        text-align: center;
        margin-top: 2rem; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_account .abs-login_account-msg {
          font-size: 1.1rem;
          font-weight: 500;
          color: #bbabf1; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_account .abs-login_account-link {
          font-size: 1.1rem;
          font-weight: 500; }

.abs-login.abs-login--v2.abs-login--signin .abs-login_signup {
  display: none; }

.abs-login.abs-login--v2.abs-login--signin .abs-login_signin {
  display: block; }

.abs-login.abs-login--v2.abs-login--signin .abs-login_forgot {
  display: none; }

.abs-login.abs-login--v2.abs-login--signup .abs-login_signup {
  display: block; }

.abs-login.abs-login--v2.abs-login--signup .abs-login_signin {
  display: none; }

.abs-login.abs-login--v2.abs-login--signup .abs-login_forgot {
  display: none; }

.abs-login.abs-login--v2.abs-login--signup .abs-login_account {
  display: none; }

.abs-login.abs-login--v2.abs-login--forgot .abs-login_signup {
  display: none; }

.abs-login.abs-login--v2.abs-login--forgot .abs-login_signin {
  display: none; }

.abs-login.abs-login--v2.abs-login--forgot .abs-login_forgot {
  display: block; }

@media (max-width: 1024px) {
  .abs-login.abs-login--v2 .abs-login_wrapper {
    padding-top: 5rem;
    width: 100%; }
    .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container {
      margin: 0 auto; }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_account {
        margin-top: 10rem; } }

@media (max-width: 768px) {
  .abs-login.abs-login--v2 .abs-login_wrapper {
    width: 100%; }
    .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container {
      width: 100%;
      max-width: 400px;
      margin: 0 auto; }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form {
        width: 100%;
        margin: 0 auto; }
        .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-form .form-control {
          background: rgba(67, 34, 167, 0.8); }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_actions .abs-login_btn-submit {
        padding: 0.8rem 3rem; }
      .abs-login.abs-login--v2 .abs-login_wrapper .abs-login_container .abs-login_account {
        margin-top: 1.5rem; } }
